<div class="btn-group days-open-group" data-toggle="buttons">
	<label {{bind-attr class=sunClass}}>{{input type="checkbox" checked=place.isOpenSun}}S</label>
	<label {{bind-attr class=monClass}}>{{input type="checkbox" checked=place.isOpenMon}}M</label>
	<label {{bind-attr class=tueClass}}>{{input type="checkbox" checked=place.isOpenTue}}T</label>
	<label {{bind-attr class=wedClass}}>{{input type="checkbox" checked=place.isOpenWed}}W</label>
	<label {{bind-attr class=thuClass}}>{{input type="checkbox" checked=place.isOpenThu}}T</label>
	<label {{bind-attr class=friClass}}>{{input type="checkbox" checked=place.isOpenFri}}F</label>
	<label {{bind-attr class=satClass}}>{{input type="checkbox" checked=place.isOpenSat}}S</label>
</div>