<div class="well">
	<div class="row">
		<div class="col-sm-4">
			<h1>{{name}}</h1>
			{{#if thumbnailUrl}}
			<img {{bind-attr src=thumbnailUrl}} class="img-responsive">
			{{/if}}
			<p>{{desc}}</p>
			{{days-open place=this}}
			{{#if menuUrl}}
			<div class="externalLink">
				<a {{bind-attr href=menuUrl}}>
					<button class="btn form-control">Click to see menu...</button>
				</a>
			</div>
			{{/if}}
			<hr/>
			{{#linkTo 'place.edit' model}}Settings{{/linkTo}}
		</div>
		<div class="col-sm-8">
			<h3>
				<button data-toggle="modal" data-target="#logNewVisit" class="btn btn-primary">Log a new visit</button>
				Visits to {{name}}
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{{#each visits}}
					<tr>
						<td>{{date}}</td>
						<td>{{userCount}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{outlet}}
</div>

<div class="modal fade" id="logNewVisit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New visit to {{name}}</h4>
			</div>
			<div class="modal-body">
				<label>
					Date:
					{{input class="form-control" placeholder="date of visit" value=visit.date}}
				</label>
				<label>
					Number of users in party
					{{input class="form-control" placeholder="1" value=visit.userCount}}
				</label>
			</div>
			<div class="modal-footer">
				<button {{action addNewVisit}} class="btn btn-primary" data-dismiss="modal">Log visit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>