<div class="well">
    <h1>{{name}}</h1>

    <div class="modal fade" id="confirmDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{name}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button {{action deletePlace}} class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 place">{{render "place_thumb_content" this}}</div>
        <div class="col-sm-9">
            <form role="form">
                <div class="form-group">
                    <label>Name</label>
                    {{input value=name class="form-control"}}
                </div>
                <div class="form-group">
                    <label>Description</label>
                    {{input value=desc class="form-control"}}
                </div>
                <div class="form-group">
                    <label>Thumbnail URL</label>
                    {{input value=thumbnailUrl class="form-control"}}
                </div>
                <div class="form-group">
                    <label>Menu URL</label>
                    {{input value=menuUrl class="form-control"}}
                </div>
                <button {{action save}} class="btn btn-default">Save</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">Delete this place</button>
            </form>
        </div>
    </div>
    {{outlet}}
</div>